{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>News Summarizer</title>
</head>
<body>
<div class="row">
    {%  for site, headline_dict in arts.items %}
        <div class="row">
            <div id="{{ site }}-carosel" class="carousel slide" data-ride="carousel">
                 <div class="carousel-inner">
                    <div class="carousel-item active">
                        <p><b>{{ site }}</b></p>
                    </div>
                     {%  for headline, link_dict in headline_dict.items %}
                        <div class="carousel-item">
                             <p> <a href="{{ link_dict.link }}">{{ headline }}</a></p>
                            <br/>
                            <p>{{ link_dict.article_loc }}</p>
                        </div>
                    {% endfor %}
                 </div>
            </div>
        </div>
    {% endfor %}
</div>


</body>
</html>