{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="row">
    <div class="col-md-3">
    {{ arts }}
    </div>

    <div class="col-md-3">
        {{ arts }}
    </div>

    <div class="col-md-3">
        {{ arts }}
    </div>
</div>


</body>
</html>